<li>
    <p>
        {% if (loop.index0 == category.winner and category.winner is not null ) %}
            <b>{{ nominated }}</b>
        {% else %}
            {{ nominated }}
        {% endif %}
    </p>
</li>
