<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block fileName %}
        {% endblock %}
    </title>
</head>
<body>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<foot>
    <img style="width: 200px; height: 200px" src="{{ fingerPrint }}" alt="QR Code"/>
</foot>
</body>
</html>
